<a href="https://colab.research.google.com/github/meredith224/Pandas_DE_Academy/blob/main/Pandas_9_26_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# --- Block 1: Generate Two Demo Datasets ---
import pandas as pd
import numpy as np

# Customers dataset
customers_data = {
    "CustomerID": [1, 2, 3, 4, 5],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
    "Email": ["alice@email.com", "bob@email.com", None, "diana@email.com", "ethan@email.com"],
    "SignupDate": pd.to_datetime(["2024-01-10", "2024-03-15", "2024-03-20", "2024-05-01", None])
}
customers = pd.DataFrame(customers_data)

# Orders dataset
orders_data = {
    "OrderID": range(101, 107),
    "CustomerID": [1, 2, 2, 3, 6, 2],   # Notice: customer 6 doesn't exist in Customers
    "Product": ["Pen", "Notebook", "Pen", "Backpack", "Calculator", "Pen"],
    "Quantity": [2, 1, 3, 1, 2, 5]
}
orders = pd.DataFrame(orders_data)

print("Customers:\n", customers, "\n")
print("Orders:\n", orders, "\n")

# .info
# isna().sum()
# .nunique()
# .value_counts()

Customers:
    CustomerID     Name            Email SignupDate
0           1    Alice  alice@email.com 2024-01-10
1           2      Bob    bob@email.com 2024-03-15
2           3  Charlie             None 2024-03-20
3           4    Diana  diana@email.com 2024-05-01
4           5    Ethan  ethan@email.com        NaT

Orders:
    OrderID  CustomerID     Product  Quantity
0      101           1         Pen         2
1      102           2    Notebook         1
2      103           2         Pen         3
3      104           3    Backpack         1
4      105           6  Calculator         2
5      106           2         Pen         5

In [ ]:
# Shape of dataset
print("Customers shape:", customers.shape)

# Data types
print("\nData types:\n", customers.dtypes)

# Missing values
print("\nMissing values:\n", customers.isna().sum())

# Unique IDs
print("\nUnique CustomerIDs:", customers["CustomerID"].nunique())
print("Total rows:", len(customers))

# Check duplicates
print("\nDuplicate rows:\n", customers.duplicated().sum())

Customers shape: (5, 4)

Data types:
 CustomerID             int64
Name                  object
Email                 object
SignupDate    datetime64[ns]
dtype: object

Missing values:
 CustomerID    0
Name          0
Email         1
SignupDate    1
dtype: int64

Unique CustomerIDs: 5
Total rows: 5

Duplicate rows:
 0

In [ ]:
# Shape of dataset
print("Orders shape:", orders.shape)

# Data types
print("\nData types:\n", orders.dtypes)

# Missing values
print("\nMissing values:\n", orders.isna().sum())

# Unique IDs
print("\nUnique OrderIDs:", orders["OrderID"].nunique())
print("Total rows:", len(orders))

# Check duplicates
print("\nDuplicate rows:\n", orders.duplicated().sum())

Orders shape: (6, 4)

Data types:
 OrderID        int64
CustomerID     int64
Product       object
Quantity       int64
dtype: object

Missing values:
 OrderID       0
CustomerID    0
Product       0
Quantity      0
dtype: int64

Unique OrderIDs: 6
Total rows: 6

Duplicate rows:
 0

In [ ]:
# Check if each CustomerID in customers appears once in orders (one-to-one?)
orders_per_customer = orders["CustomerID"].value_counts()
print("\nOrders per customer:\n", orders_per_customer)

# Customers with no orders
no_orders = customers[~customers["CustomerID"].isin(orders["CustomerID"])]
print("\nCustomers with no orders:\n", no_orders)

# Orders with invalid CustomerIDs
invalid_customers = orders[~orders["CustomerID"].isin(customers["CustomerID"])]
print("\nOrders with CustomerIDs not in Customers:\n", invalid_customers)

Orders per customer:
 CustomerID
2    3
1    1
3    1
6    1
Name: count, dtype: int64

Customers with no orders:
    CustomerID   Name            Email SignupDate
3           4  Diana  diana@email.com 2024-05-01
4           5  Ethan  ethan@email.com        NaT

Orders with CustomerIDs not in Customers:
    OrderID  CustomerID     Product  Quantity
4      105           6  Calculator         2

In [ ]:
invalid_customers = orders[~orders["CustomerID"].isin(customers["CustomerID"])]
print("\nOrders with CustomerIDs not in Customers:\n", invalid_customers)

Orders with CustomerIDs not in Customers:
    OrderID  CustomerID     Product  Quantity
4      105           6  Calculator         2